{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block header %}
    <style>
        #select{
            display : inline-block;
            width : 70px;
            overflow : hidden;
            text-overflow : ellipsis;
            white-space : nowrap;
        }

        .liking{
                color:red !important;
        }
        .unlike{
                color:black !important;
        }

     

        </style>

</head>
<body>
    <br>
<br>

{% if user.is_authenticated %}
<p>{{ user.username }}님 환영합니다</p>
<a href="{% url 'logout' %}"><button>로그아웃</button></a>
<a href="{% url 'change' %}"><button>유저 정보수정</button></a>
<a href = "{% url 'new' %}"><button>글 쓰기</button></a>
{% for blog in page_posts%}
<form action = "{% url 'search' blog.id %}">
    <input type = "text" name = "search">
    <button type = "submit">검색</button>
    </form>

    <h1>{{blog.title}}</h1>
    {{ blog|add_link|safe|linebreaksbr }}
    <p id = "select">{{ blog.body }}</p>
    <p>작성시간 : {{blog.time}} </p>
    <p>{{ blog.name }}</p>

<p>{{ blog.writer}}</p>
    {% if user.username == blog.writer %}
    {% endif %}
    <a href = "{% url 'more' blog.id %}"><button>더 보기</button></a>
    {% if user in blog.likes.all %}
        <input type = "button" class = "like liking" name = "{{blog.id}}" value="좋아요">
    {% else %}
        <input type = "button" class = "like unlike" name = "{{blog.id}}" value="좋아요">
    {% endif %}
    <hr>
{% endfor %}


{% else %}
<a href="{% url 'signup' %}"><button>회원가입</button></a>
<a href="{% url 'login' %}"><button>로그인</button></a>
{% for blog in page_posts %}
<h1>{{ blog.title }}</h1>
{{ blog|add_link|safe|linebreaksbr }}
<p id = "select">{{ blog.body }}</p>
<p>{{ blog.name }}</p>
<p>{{ blog.time }}</p>
<p>{{ blog.writer}}</p>
<a href = "{% url 'login'%}"><button>더 보기</button></a>
{% endfor %}

{% endif %}
<ul>
    {%if page_posts.has_previous%}
        <li><a href="?page={{page_posts.previous_page_number}}">이전</a></li>
    {%endif%}
    {%for i in page_posts.paginator.page_range%} 
        <li><a href="?page={{i}}">{{i}}</a></li> 
    {%endfor%}
 
    {%if page_posts.has_next%}
    	<li><a href="?page={{page_posts.next_page_number}}">다음</a></li> 
    {%endif%} 
</ul> 
<script src = https://code.jquery.com/jquery-3.5.0.min.js></script>
    <script>
       $(document).on('click','.like', function(){
           var pk = $(this).attr('name');
           $.ajax({
               type:"POST",
               url: "{% url 'like' %}",
               data: {'pk': pk, 'csrfmiddlewaretoken':'{{ csrf_token }}'},
               dataType:'json',
               success:function(response){
                   alert(response.message);
                   var users = $(pk).text();
                   $("input.like[name=" + pk + "]").toggleClass('liking unlike');
               },error:function(request, status, error){
                   alert("전송실패");
                   alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);

               },
           });
       });
      </script>

{% endblock %}

</body>
</html>